<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Help</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <h2>Contact me on email.</h2>
    <a href="mailto:nityabhaskar21@gmail.com">Email me!</a> </div> {{>footer}}
</body>

</html>